# variable creation

In [1]:
a=2
b=3
c=a+b
print(c)

5

In [3]:
a="hello"
b="world"
c= a+ " "+b
print(c)

hello world

In [5]:
x,y,z="apple","banana","orange"
print(x)
print(y,z)

apple
banana orange

In [7]:
x=y=z="apple","banana","orange"
print(x)
print(y,z)

('apple', 'banana', 'orange')
('apple', 'banana', 'orange') ('apple', 'banana', 'orange')

# Buildin functions

In [8]:
type(x)

tuple

In [9]:
range(10)

range(0, 10)

In [10]:
len(x)

3

In [11]:
pow(2,5)

32

In [12]:
sorted(['a','v','s','x'])

['a', 's', 'v', 'x']

# List

In [15]:
#initilizing list
a=[]
b=list()
c=[1,2,3,4,5]
d=[value for value in range(10)]
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
list =[2,4,5,3,2]
list[0]=3
print(list)

[3, 4, 5, 3, 2]

In [29]:
list.append(2)
print(list)

[3, 4, 5, 3, 2, 2]

In [30]:
list.insert(0,1)
print(list)

[1, 3, 4, 5, 3, 2, 2]

In [31]:
list.pop()
print(list)

[1, 3, 4, 5, 3, 2]

In [32]:
list.pop(4)
print(list)

[1, 3, 4, 5, 2]

In [33]:
sorted(list)

[1, 2, 3, 4, 5]

# Dictionary

In [35]:
#initilizing dictionary
my_dic={}
dic1=dict()
my_dic= {key:value for key,value in [['apple',12],['banana',12],['orange','12']]}
print(my_dic)
print(type(my_dic))

{'apple': 12, 'banana': 12, 'orange': '12'}
<class 'dict'>

In [36]:
my_dic1={'pear':12,'date':12}
my_dic.update(my_dic1)

In [37]:
print(my_dic)

{'apple': 12, 'banana': 12, 'orange': '12', 'pear': 12, 'date': 12}

In [38]:
my_dic["mango"]=12
print(my_dic)

{'apple': 12, 'banana': 12, 'orange': '12', 'pear': 12, 'date': 12, 'mango': 12}

In [40]:
my_dic.pop('date')

12

In [41]:
print(my_dic)

{'apple': 12, 'banana': 12, 'orange': '12', 'pear': 12, 'mango': 12}

# tuples

In [42]:
subjects= ("data structure","oop","linear algebra")
subjects[2]

'linear algebra'

In [43]:
#tupples not support the updation 
subjects[2]="statics"

TypeError: 'tuple' object does not support item assignment

In [53]:
# if we need to update value then we convert it into list then update value after that again convert into tuples
subjects_list=list(subjects)
subjects_list[2]="statics"
subjects_tuples= tuples(subjects_list)
# this code run well in pycharm

TypeError: 'list' object is not callable

In [54]:
del subjects

In [55]:
print(subject)
# tuple subject has een deleted successfully

NameError: name 'subject' is not defined

# Sets

In [57]:
#ways to initize the set
s= set()
s1= set([1,2,4,5,3])
s1.add(6)
s1.add(2) # 2 is already in set therefore it will not add it again
print(s1)

{1, 2, 3, 4, 5, 6}

In [58]:
s1.remove(4)

In [59]:
print(s1)

{1, 2, 3, 5, 6}

In [109]:
x={1,3,5}
y={5,7,2}
print("union of two sets are:",x|y)
print("intersection of two sets are:",x&y)
print("difference of two sets are:",x-y)
print("x is subset of y?:",x<y)
print("check either sets are disjoint?:",x.isdisjoint(y))

union of two sets are: {1, 2, 3, 5, 7}
intersection of two sets are: {5}
difference of two sets are: {1, 3}
x is subset of y?: False
check either sets are disjoint?: False

# Reading and writing files

In [74]:
import os

f=open("C:\\Users\\ST\\Desktop\\r_w_files\\funny.txt","w")
f.write("I love python")
f.close()

In [75]:
f=open("C:\\Users\\ST\\Desktop\\r_w_files\\funny.txt","r")
print(f.read())
f.close()

I love python

In [76]:
f=open("C:\\Users\\ST\\Desktop\\r_w_files\\funny.txt","a")
f.write("\nI love java")
f.close()

In [77]:
#want to read data line by line
f=open("C:\\Users\\ST\\Desktop\\r_w_files\\funny.txt","r")
for line in f:
    print(line)
f.close()

I love python

I love java

In [78]:
#want to show words count from every line
f=open("C:\\Users\\ST\\Desktop\\r_w_files\\funny.txt","r")
for line in f:
    tokens= line.split(' ')
    print(str(tokens))
    print(len(tokens))

f.close()

['I', 'love', 'python\n']
3
['I', 'love', 'java']
3

In [79]:
# read data from one file and write the same data into another file
f1=open("C:\\Users\\ST\\Desktop\\r_w_files\\funny.txt","r")
f2=open("C:\\Users\\ST\\Desktop\\r_w_files\\funny1.txt","w")
for line in f1:
    f2.write(line)

f1.close()
f2.close()

In [82]:

with open("C:\\Users\\ST\\Desktop\\r_w_files\\funny.txt","r") as f:
    print(f.read())
    
print(f.closed)

I love python
I love java
True

# Exception Handling

In [85]:
a= input("enter number 1")
b= input("enter number 2")
try:
    c=int(a)/int(b)
    print(c)
except Exception as e:
    print("Expection is",type(e))

enter number 16
enter number 20
Expection is <class 'ZeroDivisionError'>

In [86]:
a= input("enter number 1")
b= input("enter number 2")
try:
    c=int(a)/int(b)
    print(c)
except ZeroDivisionError as e:
    print("There is zero division error")

enter number 15
enter number 20
There is zero division error

# Class and Object

In [88]:
class Human:
    def __init__(self,name,occupation):
        self.name=name
        self.occupation=occupation
    def check_salary(self):
        if self.occupation=="business":
            print("his salary depends upon business")
        else:
            print("not knoe expected salary")
            
a= Human("arifa","business")
a.check_salary()

his salary depends upon business

### multiple inheritance

In [99]:
class Mother:
    def skills(self):
        print("cooking")
class Father:
    def skills(self):
        print("business")
class Child(Mother,Father):
    def skills(self):
        print("painting")
        #print("Mother skills",Mother.skills(self))
        print(Mother.skills(self))
c=Child()
c.skills()

painting
cooking
None

# Raise Exception

## how to raise standard exception

In [120]:
# if we know the error type of exception
try:
    raise MemoryError("low memory") #raise type of error ("message for that type of error")
except MemoryError as e:
    print(e)

low memory

## how to raise user define exception

In [122]:
class Accident(Exception):# inherit from exception class
    def __init__(self,msg):
        self.msg=msg
    def user_define_error(self):
        print("it is user define error",self.msg)
        
try:
    raise Accident("accident occur")
except Accident as e:
    e.user_define_error()

it is user define error accident occur

# Finally keyword

In [126]:
try:
    f=open("C:\\Users\\ST\\Desktop\\r_w_files\\funny.txt","a")
    a=10/0
except FileNotFoundError as e:
    print(e)
except ZeroDivisionError as e:
    print(e)   

finally:
    print("clean file")
    f.close()

division by zero
clean file

# Generators

In [101]:
def remote_control():
    yield "abc"
    yield "xyz"
    
itr= remote_control()
try:
next(itr)

'abc'

In [102]:
next(itr)

'xyz'

# Decorators

In [119]:
def func(f1):
    def wrapper():
        print("started")
        f1()
        print("ended")
    return wrapper
@func        
def dec():
    print("hello")
    
dec()

started
hello
ended